Source: net-sriov-tools
Section: admin
Priority: optional
Maintainer: Lierfang Support Team <itsupport@lierfang.com>
Standards-Version: 4.5.0
Homepage: https://www.lierfang.com
Build-Depends: debhelper (>= 13),
         dh-cargo,
         cargo,
         rustc,
         librust-serde-json-dev,
         librust-prettytable-rs-dev,
         librust-clap-dev

Package: net-sriov-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PXVIRT SR-IOV Network Interface Card Manager
 is a tool for managing SR-IOV capable network interfaces. 
